body {
    padding-top: 8rem;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    background: linear-gradient(15deg, #64bcf4, #c2e59c) no-repeat fixed;
}

@media only screen and (max-width: 576px) {
    body {
        padding-top: 6rem;
    }
}

footer {
    opacity: 75%;
}

.bg-admin {
    background: linear-gradient(15deg, #e66465, #9198e5) no-repeat fixed;
}

.profile {
    min-height: 270px;
}

.no-pic-profile {
    margin-left: 50px;
}

.user-thumbnail {
    max-width: 30px;
    height: auto;
}

.nav-logo {
    height: 30px;
    margin-top: -15px;
}

.nav-name {
    margin-left: 5px;
    font-family: Futura, serif;
}

.notification-area {
}

@media only screen and (max-width: 576px) {
    .notification-area {
        margin-top: -3rem;
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 576px) {
    .notification-area {
        margin-top: -2rem;
        position: fixed;
        max-width: 350px;
        right: 30px;
    }
}