.form-wtf {
    width: 100%;
    max-width: 800px;
    margin: 1rem auto 1rem;
}

.form-wtf .checkbox {
    font-weight: 400;
}

.form-wtf .form-control {
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-wtf .form-control:focus {
    z-index: 2;
}

.my-block-link {
    word-break: break-all;
}

.google-play {
    display: inline-block;
    overflow: hidden;
}

.google-play img {
    height: 60px;
}

.app-store {
    margin: 10px 10px;
    display: inline-block;
    overflow: hidden;
    background: url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2015-05-30&kind=iossoftware&bubble=apple_music) no-repeat;
    width: 135px;
    height: 40px;
}