{% if comments %}
    <div>
        <h1 id="comments" class="mb-3">Comments</h1>
        {% for comment in comments %}
            <div class="media mb-4 small border-top px-2 pt-2">
                <img class="d-flex mr-3 rounded" src="{{ comment.author.gravatar(size=36) }}" alt="Comment Gravatar">
                <div class="media-body">
                    <h5 class="mt-0">{{ comment.author.name }}</h5>
                    {% if comment.disabled %}
                        <div class="text-muted"><i>This comment has been disabled by a moderator.</i></div>
                    {% endif %}
                    {% if moderate or not comment.disabled %}
                        {% if comment.body_html %}
                            <div>
                                {{ comment.body_html | safe }}
                            </div>
                        {% else %}
                            <div class="lead">
                                {{ comment.body }}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                {% if moderate %}
                    <div class="ml-3 mt-2">
                        {% if comment.disabled %}
                            <a class="btn btn-sm alert-primary"
                               href="{{ url_for("main.moderate_enable", comment_id=comment.id, page=page) }}">Enable</a>
                        {% else %}
                            <a class="btn btn-sm alert-danger"
                               href="{{ url_for("main.moderate_disable", comment_id=comment.id, page=page) }}">Disable</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}

