<!-- Title -->
<h1>{{ paste.title }}</h1>

<!-- Paste Link -->
<div class="d-md-flex justify-content-between">
    <div class="text-muted ms-2">{{ url_for('main.paste', paste_id=paste.id, _external=True) }}</div>
</div>

<!-- Paste Content -->
<div class="alert
    {% if paste.disabled %}
        alert-danger
    {% elif paste.expiry and current_time >= paste.expiry %}
        alert-secondary
    {% else %}
        alert-info
    {% endif %}
    my-2" role="alert">
    <pre class="mb-0 code">{{ paste.body }}</pre>
</div>

<div class="d-md-flex justify-content-between">
    <!-- Pasted On -->
    <div class="d-md-flex justify-content-between align-items-center">
        <div class="text-muted ms-2">Pasted on {{ moment(paste.timestamp).format("MMMM DD, YYYY") }} </div>
    </div>
    <!-- Expiry -->
    <div class="d-flex justify-content-between align-items-center">
        {% if paste.expiry %}
            <div class="text-muted me-2">Expires on {{ moment(paste.expiry).format("MMMM DD, YYYY HH:mm") }} </div>
        {% endif %}
        <div>
            {% if current_user == paste.author or current_user.is_administrator() %}
                <a class="text-decoration-none btn btn-sm btn-primary"
                   href="{{ url_for('main.edit_paste', paste_id=paste.id) }}">
                    <span>Edit</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>