<!-- Title -->
<h1 class="my-4">{{ post.title }}</h1>

<div class="d-md-flex justify-content-between">
    <!-- Author -->
    <div class="d-md-flex justify-content-between align-items-center">
        <img class="rounded" width="40" height="40" src="{{ post.author.gravatar(size=40) }}"
             alt="Author Gravatar"/>
        <a class="text-decoration-none ps-2 fs-5"
           href="{{ url_for('main.user', user_id=post.author.id) }}">
            <strong>@{{ post.author.name }}</strong>
        </a>
    </div>
    <!-- Date/Time -->
    <div class="d-flex justify-content-between align-items-center">
        <div class="text-muted me-2">Posted on {{ moment(post.timestamp).format("MMMM Do, YYYY") }} </div>
        <div>
            {% if current_user == post.author %}
                <a class="text-decoration-none btn-sm btn-primary"
                   href="{{ url_for('main.edit', post_id=post.id) }}">
                    <span>Edit</span>
                </a>
            {% elif current_user.is_administrator() %}
                <a class="text-decoration-none btn-sm btn-danger"
                   href="{{ url_for('main.edit', post_id=post.id) }}">
                    <span>Admin Edit</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>

<hr>

<!-- Post Content -->
{% if post.body_html %}
    <div>
        {{ post.body_html | safe }}
    </div>
{% else %}
    <div class="lead">
        {{ post.body }}
    </div>
{% endif %}

<hr>
