{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css"/>
{% endblock %}

{% block title %}
    {{ super() }} - About
{% endblock %}

{% block page_content %}
    <div class="jumbotron px-5 pt-5 pb-3 rounded-lg shadow-lg bg-white text-center">
        <img class="easter-egg-logo" width="128" src="../static/img/logo.svg" alt="LiCMS logo">
        <div class="text-center text-shadow h1 font-futura">
            LiCMS
        </div>
        <div>
            Made with ❤ by <a href="https://github.com/realJustinLee">Justin Lee</a>!
        </div>
        <div class="text-muted small mt-4">
            ™ and © 1997 -
            <script>
                document.write(new Date().getFullYear())
            </script>
            Justin Lee. All Rights Reserved.
            <a href="https://github.com/realJustinLee/LiCMS/blob/master/LICENSE">License Agreement</a>
        </div>
    </div>
    <a class="github-fork-ribbon left-bottom fixed bg-theme" href="https://github.com/realJustinLee/LiCMS"
       target="_blank" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
{% endblock %}
