{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css"/>
{% endblock %}

{% block title %}
    {{ super() }} - About
{% endblock %}

{% block page_content %}
    <div class="p-4 p-lg-5 mb-4 bg-light rounded-3 text-center">
        <div class="container-fluid py-5">
            <img class="easter-egg-logo" width="128" src="../static/img/logo.svg" alt="LiCMS logo">
            <div class="text-center text-shadow h1 font-futura">
                LiCMS
            </div>
            <div class="fs-4">
                Made with ❤ by <a href="https://github.com/realJustinLee">Justin Lee</a>!
            </div>
        </div>
        <div class="text-center text-muted small">
            {% include 'fragments/_copyright.html' %}
            <a href="https://github.com/realJustinLee/LiCMS/blob/master/LICENSE">License Agreement</a>
        </div>
    </div>
    <a class="github-fork-ribbon left-bottom fixed bg-theme" href="https://github.com/realJustinLee/LiCMS"
       target="_blank" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
{% endblock %}
