{% extends "bootstrap_base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css', _external=True) }}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img class="nav-logo" src="{{ url_for('static', filename='img/logo.svg') }}" alt="LiCMS logo">
                <span class="h3 nav-name font-futura">LiCMS</span>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarCollapse" style="">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.posts') }}">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.users') }}">Users</a>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.pastes') }}">Pastes</a>
                        </li>
                    {% endif %}
                    {% if current_user.can(Permission.MODERATE) %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                               aria-expanded="true">Moderation</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="{{ url_for('main.moderate') }}">Moderate Comments</a>
                                <a class="dropdown-item" href="{{ url_for('main.moderate_pastes') }}">Moderate
                                    Pastes</a>
                            </div>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
                    </li>
                </ul>
                {% if current_user.is_authenticated %}
                    <div class="flex-shrink-0 dropdown">
                        <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1"
                           data-bs-toggle="dropdown" aria-expanded="true">
                            {% if current_user.is_administrator() %}
                                <span class="badge rounded-pill text-bg-primary me-3">Admin</span>
                            {% endif %}
                            <img alt="mdo" width="40" height="40" class="rounded-circle"
                                 src="{{ current_user.gravatar(size=40) }}">
                            <span class="mx-1">{{ current_user.name }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-end text-small" aria-labelledby="dropdownUser1"
                            style="">
                            <li><a class="dropdown-item" href="{{ url_for('main.user', user_id=current_user.id) }}">
                                Profile
                            </a></li>
                            <li><a class="dropdown-item" href="{{ url_for('auth.change_password') }}">
                                Change Password
                            </a></li>
                            <li><a class="dropdown-item" href="{{ url_for('auth.change_email_request') }}">
                                Change Email
                            </a></li>
                            <li><a class="dropdown-item" href="{{ url_for('auth.change_two_factor') }}">
                                Change 2FA
                            </a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item text-danger" href="{{ url_for('auth.logout') }}">
                                Log Out
                            </a></li>
                        </ul>
                    </div>
                {% else %}
                    <div class="d-flex">
                        <a class="btn btn-outline-light" href="{{ url_for('auth.login') }}">Log In</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block footer %}
    {% include 'fragments/_footer.html' %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}