{% extends "bootstrap_base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css', _external=True) }}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">
            <img class="nav-logo" src="{{ url_for('static', filename='img/logo.svg') }}" alt="">
            <span class="h3 nav-name">LiCMS</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.posts') }}">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.users') }}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                {% if current_user.is_administrator() %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="true">Administrations</a>
                        <div class="dropdown-menu shadow" aria-labelledby="dropdown03">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav mt-2 mt-md-0">
                {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="true">
                            {% if current_user.is_administrator() %}
                                <label class="btn-sm alert-dark m-0 mr-1">👮Admin</label>
                            {% endif %}
                            <img class="user-thumbnail rounded shadow m-0 mr-1 mt-n1"
                                 src="{{ current_user.gravatar(size=128) }}" alt="user avatar small">
                            {{ current_user.name }}
                            <b class="caret"></b></a>
                        <div class="dropdown-menu dropdown-menu-right shadow ">
                            <a class="dropdown-item"
                               href="{{ url_for('main.user', user_id=current_user.id) }}">Profile</a>
                            <a class="dropdown-item" href="{{ url_for('auth.change_password') }}">Change Password</a>
                            <a class="dropdown-item" href="{{ url_for('auth.change_email_request') }}">Change Email</a>
                            <a class="dropdown-item text-danger" href="{{ url_for('auth.logout') }}">Log Out</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-outline-light my-2 my-sm-0" href="{{ url_for('auth.login') }}">Log In</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}