{% extends "base.html" %}

{% block page_content %}
    <div class="jumbotron rounded shadow-lg">
        <h1>
            Hello,
            {% if current_user.is_authenticated %}
                {{ current_user.username }}
            {% else %}
                Stranger
            {% endif %}!
        </h1>
        <p class="lead">
            Welcome to the LiXin Content Management System
            <br>
            You visited this page at {{ moment(current_time).format('LLL') }}.
            <br>
            That was {{ moment(current_time).fromNow(refresh=True) }}.
        </p>
    </div>
{% endblock %}
