{% extends "base.html" %}
{% import 'macros/_posts.html' as m_posts %}
{% import 'macros/_users.html' as m_users %}

{% block page_content %}
    <div class="jumbotron bg-white px-5 rounded-lg shadow-lg">
        <h1>
            Hello,
            {% if current_user.is_authenticated %}
                {{ current_user.name }}.
            {% else %}
                Stranger!
            {% endif %}
        </h1>
        <div class="lead">
            <p class="lead">
                Welcome to the <b>LiXin Content Management System.</b>
                <br>
                You visited this page at {{ moment(current_time).format('LLL') }}.
                <br>
                That was {{ moment(current_time).fromNow(refresh=True) }}.
            </p>
        </div>
    </div>

    {{ m_posts.list_widget(current_user, moment, "Latest Posts", posts, extend=true, link=url_for('main.posts'), link_text='Show All Posts') }}

    {{ m_users.list_widget(moment, "Newbie Authors", users, extend=true, link=url_for('main.users'), link_text='Show All Users') }}
{% endblock %}
