{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}
{% import 'macros/_posts.html' as m_posts with context %}
{% import 'macros/_paginition.html' as m_paginition %}

{% block title %}
    {{ super() }} - Comment Moderation
{% endblock %}

{% block page_content %}
    {% set moderate = True %}
    <div class="jumbotron p-5 rounded-lg shadow-lg bg-white">
        {% if comments %}
            {% include 'fragments/_comments.html' %}
            {{ m_paginition.pagination_widget(pagination, endpoint) }}
        {% else %}
            <h1 class="text-muted text-center">No Comments Yet.</h1>
        {% endif %}
    </div>
{% endblock %}
