{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% import 'macros/_pastes.html' as m_pastes with context %}
{% import 'macros/_pagination.html' as m_pagination %}

{% block title %}
    {{ super() }} - Paste Moderation
{% endblock %}

{% block page_content %}
    {% if pastes %}
        {{ m_pastes.list_widget(title, pastes, page) }}
        {{ m_pagination.pagination_widget(pagination, endpoint) }}
    {% else %}
        <div class="p-md-5 pb-md-4 p-4 mb-4 bg-body rounded-3">
            <h1 class="text-muted text-center">No Pastes Yet.</h1>
        </div>
    {% endif %}
{% endblock %}
