{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% import 'macros/_posts.html' as m_posts with context %}
{% import 'macros/_paginition.html' as m_paginition %}

{% block title %}
    {{ super() }} - Comment Moderation
{% endblock %}

{% block page_content %}
    {% if comments %}
        <div class="p-md-5 pb-md-4 p-4 mb-4 bg-light rounded-3">
            {% include 'fragments/_comments.html' %}
        </div>
        {{ m_paginition.pagination_widget(pagination, endpoint) }}
    {% else %}
        <div class="p-md-5 pb-md-4 p-4 mb-4 bg-light rounded-3">
            <h1 class="text-muted text-center">No Comments Yet.</h1>
        </div>
    {% endif %}
{% endblock %}
