{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% import 'macros/_pastes.html' as m_pastes with context %}
{% import 'macros/_pagination.html' as m_pagination %}

{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}

{% block page_content %}
    {% if current_user.can(Permission.WRITE) %}
        <div class="mb-5 card rounded-3 shadow-lg">
            <div class="card-header p-4 p-md-5 h1">
                Paste something?
            </div>
            <div class="card-body p-4 p-md-5 lead">
                {{ render_form(form, button_map={'submit': 'primary'}) }}
            </div>
        </div>
    {% endif %}

    {% if pastes %}
        {{ m_pastes.list_widget(title, pastes, user_view=true) }}
        {{ m_pagination.pagination_widget(pagination, endpoint) }}
    {% else %}
        <div class="p-md-5 pb-md-4 p-4 mb-4 bg-light rounded-3">
            <h1 class="text-muted text-center">No Pastes Yet.</h1>
        </div>
    {% endif %}
{% endblock %}
