{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% import 'macros/_posts.html' as m_posts with context %}
{% import 'macros/_paginition.html' as m_paginition %}

{% block title %}
    {{ super() }} - Post {{ post.id }}
{% endblock %}

{% block page_content %}
    <div class="p-md-5 pb-md-4 p-4 mb-4 bg-light rounded-3">
        {% include 'fragments/_post_detail.html' %}
        <!-- Comments Form -->
        {% if current_user.can(Permission.COMMENT) %}
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    {{ render_form(form, button_map={'submit': 'primary'}) }}
                </div>
            </div>
        {% endif %}
        {% include 'fragments/_comments.html' %}
        {{ m_paginition.pagination_widget(pagination, endpoint, fragment='#comments', post_id=post.id) }}
    </div>
{% endblock %}
