{% extends "base.html" %}

{% block title %}
    Profile - {{ user.name }}
{% endblock %}

{% block page_content %}
    <div class="jumbotron bg-light rounded shadow">
        {#        <img class="img-thumbnail shadow float-left" src="{{ user.gravatar(size=256) }}" alt="user avatar">#}
        <div class="profile user-profile">
            <h1>{{ user.name }}</h1>
            {% if user.about_me %}
                <div class="text-muted">
                    {{ user.about_me }}
                </div>
            {% endif %}
            <hr>
            <div class="mt-3 mb-3">
                {% if user.location %}
                    <div>
                        Location: <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
                    </div>
                {% endif %}
                {% if current_user.is_administrator() %}
                    <div>
                        Email: <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                    </div>
                {% endif %}
                <div>
                    Gender: {{ user.gender.name }}
                </div>
                <div>
                    Member since {{ moment(user.member_since).format('L') }}.
                    <label class="btn-sm alert-success mb-0">
                        {{ moment(user.member_since).fromNow() }}
                    </label>
                </div>
                <div>
                    Last seen {{ moment(user.last_seen).fromNow() }}.
                </div>
            </div>
            <div>
                {% if user == current_user %}
                    <a class="btn btn-primary shadow" href="{{ url_for('main.edit_profile') }}">Edit Profile</a>
                {% endif %}
                {% if current_user.is_administrator() %}
                    <a class="btn btn-danger shadow" href="{{ url_for('main.edit_profile_admin', user_id=user.id) }}">
                        Edit Profile [Admin]</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}