{% extends "base.html" %}
{% import 'macros/_users.html' as m_users with context %}
{% import 'macros/_paginition.html' as m_paginition %}

{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}

{% block page_content %}
    {% if users %}
        {{ m_users.list_widget(title, users) }}
        {% if user_id %}
            {{ m_paginition.pagination_widget(pagination, endpoint, user_id=user_id) }}
        {% else %}
            {{ m_paginition.pagination_widget(pagination, endpoint) }}
        {% endif %}
    {% else %}
        <div class="jumbotron p-5 rounded-lg shadow-lg bg-white">
            <h1 class="text-muted text-center">No Users Yet.</h1>
        </div>
    {% endif %}
{% endblock %}
