{% macro list_widget(comments, page=page, in_post=false) %}
    {% if comments %}
        <div>
            <h1 id="comments" class="mb-3">Comments</h1>
            {% for comment in comments %}
                <div class="d-lg-flex border-top py-2 pb-md-1">
                    <div class="d-flex col-lg-9">
                        <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="40" height="40"
                             src="{{ comment.author.gravatar(size=40) }}" alt="Author Gravatar">
                        <div class="pb-3 mb-0 small lh-sm">
                            <a class="d-block text-decoration-none text-body"
                               href="{{ url_for('main.user', user_id=comment.author.id) }}">
                                <strong>@{{ comment.author.name }}</strong>
                            </a>
                            {% if comment.disabled %}
                                <div class="text-muted"><i>This comment has been disabled by a moderator.</i></div>
                            {% endif %}

                            {% if current_user.can(Permission.MODERATE) or not comment.disabled %}
                                <div {% if comment.disabled %}class="alert alert-warning mt-3"{% endif %}>
                                    {% if comment.body_html %}
                                        {{ comment.body_html | safe }}
                                    {% else %}
                                        <div class="lead">
                                            {{ comment.body }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}

                            {% if not in_post %}
                                <a class="d-block text-decoration-none"
                                   href="{{ url_for('main.post', post_id=comment.post_id) }}">
                                    <strong>Original post</strong>
                                </a>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-lg-3 d-flex flex-lg-column text-lg-end align-content-end">
                        <small class="d-block text-muted col-4 col-lg-auto">
                            {{ moment(comment.timestamp).fromNow() }}
                        </small>
                        <div class="text-end col-8 col-lg-auto">
                            {% if current_user.can(Permission.MODERATE) %}
                                {% if comment.disabled %}
                                    <a href="{{ url_for("main.moderate_enable", comment_id=comment.id, page=page, in_post=in_post) }}"
                                       class="text-decoration-none btn btn-sm btn-primary">Enable</a>
                                {% else %}
                                    <a href="{{ url_for("main.moderate_disable", comment_id=comment.id, page=page, in_post=in_post) }}"
                                       class="text-decoration-none btn btn-sm btn-danger">Disable</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}