{% macro pagination_widget(pagination, endpoint, fragment='') %}
    {% if pagination.pages %}
        <div class="my-5">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
                    <a class="page-link px-sm-1 px-md-3" aria-label="Previous"
                       href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}
                        {% else %}#{% endif %}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for p in pagination.iter_pages() %}
                    {% if p %}
                        <li class="page-item {% if p == pagination.page %}active{% endif %}">
                            <a class="page-link px-sm-1 px-md-3"
                               href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link px-sm-1 px-md-3" href="#" aria-label="Ellipsis">
                                <span aria-hidden="true">&hellip;</span>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
                    <a class="page-link px-sm-1 px-md-3" aria-label="Next"
                       href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}
                        {% else %}#{% endif %}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endmacro %}
