{% macro list_widget(title, posts, show_tab=false, extend=false, link='#', link_text='', permalink=true) %}
    <div class="p-md-5 pb-md-4 p-4 mb-4 bg-light rounded-3 shadow-lg">
        <div class="d-flex flex-column flex-md-row">
            <h1 class="pb-2 mb-0 col-md-9">{{ title }}</h1>
            {% if show_tab %}
                {% include 'fragments/_post_tab.html' %}
            {% endif %}
        </div>

        {% if posts %}
            {% for post in posts %}
                <div class="d-lg-flex text-muted border-top py-2 pb-lg-1">
                    <div class="d-flex col-lg-9">
                        <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="40" height="40"
                             src="{{ post.author.gravatar(size=40) }}" alt="Author Gravatar"/>
                        <p class="pb-3 mb-0 small lh-sm">
                            {% if permalink and post.title %}
                                <a class="text-decoration-none text-dark fs-5"
                                   href="{{ url_for('main.post', post_id=post.id) }}">
                                    <span>{{ post.title }}</span>
                                </a>
                            {% endif %}
                            <a class="d-block text-decoration-none"
                               href="{{ url_for('main.user', user_id=post.author.id) }}">
                                <strong>@{{ post.author.name }}</strong>
                            </a>
                        </p>
                    </div>
                    <div class="col-lg-3 d-flex flex-lg-column text-lg-end align-content-end">
                        <small class="d-block text-muted col-4 col-lg-auto">
                            {{ moment(post.timestamp).fromNow() }}
                        </small>
                        <div class="text-end col-8 col-lg-auto">
                            {% if current_user == post.author %}
                                <a class="text-decoration-none btn-sm btn-warning"
                                   href="{{ url_for('main.edit', post_id=post.id) }}">
                                    <span>Edit</span>
                                </a>
                            {% elif current_user.is_administrator() %}
                                <a class="text-decoration-none btn-sm btn-danger"
                                   href="{{ url_for('main.edit', post_id=post.id) }}">
                                    <span>Admin Edit</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if extend %}
                <small class="d-block text-end mt-3">
                    <a class="text-decoration-none" href="{{ link }}">{{ link_text }}</a>
                </small>
            {% endif %}
        {% else %}
            <div class="text-muted pt-3">
                <h3 class="pb-3 mb-0 text-center">
                    No posts yet.
                </h3>
            </div>
        {% endif %}
    </div>
{% endmacro %}