{% macro list_widget(title, posts, extend=false, link='#' ,link_text ='', permalink=true) %}
    {% if posts %}
        <div class="jumbotron p-5 rounded-lg shadow-lg bg-white">
            <h1 class="border-bottom pb-2 mb-0">{{ title }}</h1>
            {% for post in posts %}
                <div class="media text-muted pt-3">
                    <img class="mr-3 rounded" width="48" height="48" src="{{ post.author.gravatar(size=128) }}"
                         alt="Author Gravatar"/>
                    <div class="media-body pb-3 mb-0 border-bottom">
                        <div class="float-right small">{{ moment(post.timestamp).fromNow() }}</div>
                        <div class="d-block">
                            <a class="font-weight-bold" href="{{ url_for('main.user', user_id=post.author.id) }}">
                                @{{ post.author.name }}
                            </a>
                        </div>
                        <div class="mt-1 ml-2">
                            {% if post.body_html %}
                                {{ post.body_html | safe }}
                            {% else %}
                                {{ post.body }}
                            {% endif %}
                        </div>
                        {% if permalink %}
                            <div class="text-right">
                                {% if current_user == post.author %}
                                    <a href="{{ url_for('main.edit', post_id=post.id) }}">
                                        <span class="btn-sm btn-primary">Edit</span>
                                    </a>
                                {% elif current_user.is_administrator() %}
                                    <a href="{{ url_for('main.edit', post_id=post.id) }}">
                                        <span class="btn-sm btn-danger">Edit
                                            <span class="badge badge-pill alert-danger">Admin</span>
                                        </span>
                                    </a>
                                {% endif %}
                                <a href="{{ url_for('main.post', post_id=post.id) }}">
                                    <span class="ml-2 btn-sm alert-primary">Permalink</span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% if extend %}
                <small class="d-block text-right mt-3">
                    <a href="{{ link }}">{{ link_text }}</a>
                </small>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}