{% macro list_widget(title, users, extend=false, link='#' ,link_text ='') %}
    {% if users %}
        <div class="jumbotron p-5 rounded-lg shadow-lg bg-white">
            <h1 class="border-bottom pb-2 mb-0">{{ title }}</h1>
            {% for user in users %}
                <div class="media text-muted pt-3">
                    <img class="mr-3 rounded" width="48" height="48" src="{{ user.gravatar(size=128) }}"
                         alt="Author Gravatar"/>
                    <div class="media-body pb-3 mb-0 border-bottom">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <a class="font-weight-bold" href="{{ url_for('main.user', user_id=user.id) }}">
                                @{{ user.name }}
                            </a>
                            {% if current_user.is_authenticated and current_user.can(Permission.FOLLOW) and user != current_user %}
                                {% if not current_user.is_following(user) %}
                                    <a href="{{ url_for('main.follow', user_id=user.id) }}"
                                       class="btn-sm btn-primary">Follow</a>
                                {% else %}
                                    <a href="{{ url_for('main.unfollow', user_id=user.id) }}"
                                       class="btn-sm btn-warning">Unfollow</a>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div>
                            <span class="badge badge-pill alert-warning">{{ user.gender.name }}</span>
                            <span class="badge badge-pill alert-primary">posts: {{ user.posts.count() }}</span>
                            <span class="badge badge-pill alert-info">followers: {{ user.followers.count() - 1 }}</span>
                            <span class="badge badge-pill alert-info">followed: {{ user.followed.count() - 1 }}</span>
                            <span class="badge badge-pill alert-success">member since: {{ moment(user.member_since).fromNow() }}</span>
                        </div>
                        {% if current_user.is_authenticated %}
                            <div>
                                {% if current_user.is_followed_by(user) %}
                                    <span class="badge badge-pill alert-info">follows you since: {{ moment(user.member_since).fromNow() }}</span>
                                {% endif %}
                                {% if current_user.is_following(user) %}
                                    <span class="badge badge-pill alert-primary">followed by you since: {{ moment(user.member_since).fromNow() }}</span>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% if extend %}
                <small class="d-block text-right mt-3">
                    <a href="{{ link }}">{{ link_text }}</a>
                </small>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}