{% macro list_widget(moment, title, users, extend=false, link='#' ,link_text ='') %}
    {% if users %}
        <div class="jumbotron my-5 p-5 rounded-lg shadow-lg bg-white">
            <h1 class="border-bottom pb-2 mb-0">{{ title }}</h1>
            {% for user in users %}
                <div class="media text-muted pt-3">
                    <img class="mr-3 rounded" width="48" height="48" src="{{ user.gravatar(size=128) }}"
                         alt="Author Gravatar"/>
                    <div class="media-body pb-3 mb-0 border-bottom">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <a class="font-weight-bold" href="{{ url_for('main.user', user_id=user.id) }}">
                                @{{ user.name }}
                            </a>
                            <a href="#">
                                <span class="btn-sm btn-primary">Follow</span>
                            </a>
                        </div>
                        <span class="d-block">{{ user.gender.name }}</span>
                    </div>
                </div>
            {% endfor %}
            {% if extend %}
                <small class="d-block text-right mt-3">
                    <a href="{{ link }}">{{ link_text }}</a>
                </small>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}