{% extends "bootstrap_base.html" %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/form-wtf.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}
    <div class="form-wtf px-5 py-3 bg-body rounded-3 shadow-lg">
        <div class="d-flex my-3">
            <div class="col-7 col-md-10 font-weight-normal">
                {% block display_title %}
                {% endblock %}
            </div>
            <div class="col-5 col-md-2 justify-content-center align-self-center">
                <img class="cm-2 alert alert-warning shadow-sm" alt="LiCMS Logo" width="128" height="128"
                     src="{{ url_for('static', filename='img/logo.svg') }}">
            </div>
        </div>
        {% block display_content %}
        {% endblock %}
        <div class="my-3 text-muted text-center">
            {% include 'fragments/_copyright.html' %}
        </div>
    </div>
{% endblock %}