{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}{{ super() }} - Change Email Address{% endblock %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/form-wtf.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}
    <div class="form-wtf mb-5 card rounded-3 shadow-lg">
        <div class="card-header p-5 h1">
            Change Your Email Address
        </div>
        <div class="card-body p-5 lead">
            {{ render_form(form, button_map={'submit': 'primary'}) }}
        </div>
    </div>
{% endblock %}
