{% extends "auth/base_auth.html" %}

{% block title %}{{ super() }} - User Login{% endblock %}

{% block auth_content %}
    <form method="post">
        <img class="mb-3 easter-egg-logo" src="{{ url_for('static', filename='img/logo.svg') }}" alt="" width="128"
             height="128">
        <h1 class="h3 mb-3 fw-normal">Please login</h1>
        {{ form.csrf_token }}
        <div class="form-floating">
            {{ form.email(type="email", class="form-control", id="floatingInput", placeholder="name@example.com", autofocus=true) }}
            {{ form.email.label(for="floatingInput") }}
        </div>
        <div class="form-floating">
            {{ form.password(ctype="password", class="form-control", id="floatingPassword", placeholder="Password") }}
            {{ form.password.label(for="floatingPassword") }}
        </div>

        {% for message in form.email.errors %}
            <small class="text-danger">{{ message }}</small><br>
        {% endfor %}
        {% for message in form.password.errors %}
            <small class="text-danger">{{ message }}</small><br>
        {% endfor %}
        <div class="checkbox mb-3">
            <label>
                {{ form.remember_me() }}
                {{ form.remember_me.label() }}
            </label>
        </div>
        {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
    </form>
    <div class="mt-3 text-muted">
        <div class="small">
            Forgot your password?
            <a href="{{ url_for('auth.password_reset_request') }}">Reset it here</a>.
        </div>
        <div class="small">
            Lost your 2FA?
            <a href="{{ url_for('auth.tow_factor_reset_request') }}">Reset it here</a>.
        </div>
        <div class="small">
            New user?
            <a href="{{ url_for('auth.register') }}">Create new account</a>.
        </div>
    </div>
{% endblock %}
