{% extends "auth/base_auth.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}{{ super() }} - Two Factor{% endblock %}

{% block auth_content %}
    <form method="post">
        <h1 class="h3 mb-4 font-weight-normal">Tow Factor</h1>
        {{ form.csrf_token }}
        {{ form.token.label(class="sr-only") }}
        {{ form.token(class="form-control mb-3", placeholder="Authentication Code", autofocus=true) }}
        {% for message in form.token.errors %}
            <small class="text-danger">{{ message }}</small><br>
        {% endfor %}
        {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
    </form>
{% endblock %}