{% extends "auth/base_auth.html" %}

{% block title %}{{ super() }} - Two Factor{% endblock %}

{% block auth_content %}
    <form method="post">
        <h1 class="h3 mb-4 fw-normal">Tow Factor</h1>
        {{ form.csrf_token }}

        <div class="form-floating">
            {{ form.token(class="form-control mb-3", id="floatingInput", placeholder="Authentication Code", autofocus=true) }}
            {{ form.token.label(for="floatingInput") }}
        </div>

        {% for message in form.token.errors %}
            <small class="text-danger">{{ message }}</small><br>
        {% endfor %}
        {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
    </form>
{% endblock %}