{% extends "bootstrap_base.html" %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/login.css', _external=True) }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/form-wtf.css', _external=True) }}" rel="stylesheet">
{% endblock %}

{% block page_content %}
    <div class="form-wtf p-5 bg-light rounded-lg shadow-lg">
        <img class="m-2 float-right" src="{{ url_for('static', filename='img/logo.svg', _external=True) }}" alt=""
             width="100" height="100">
        <div class="font-weight-normal mb-5">
            <h1>
                {% block email_header %}
                {% endblock %}
            </h1>
            <p class="text-muted">For <b>LiXin Content Management System</b></p>
        </div>
        <div class="mb-3">
            <p>Greetings. {{ user.name }},</p>
            {% block email_content %}
            {% endblock %}
            <p>
                Best Regards,<br>
                Li Xin
            </p>
            <p class="text-muted"><small>Note: replies to this email address are not monitored.</small></p>
        </div>
        <p class="mt-5 mb-3 text-muted text-center">&copy; Copyright
            <script>
                document.write(new Date().getFullYear())
            </script>
            Li Xin. All rights reserved.
        </p>
    </div>
{% endblock %}