{% extends "auth/email/base_email.html" %}

{% block title %}
    {{ super() }} - Confirm Your New Email Address
{% endblock %}

{% block email_header %}
    Confirm Your New Email Address
{% endblock %}

{% block email_content %}
    <p>This is <b>LiCMS</b>.</p>
    <p>
        To confirm your new email address, please
        <a class="btn-sm btn-primary" href="{{ url_for('auth.change_email', token=token, _external=True) }}">
            click here</a>.<br>
        Alternatively, you can paste the following link in your browser's address bar:<br>
    </p>
    <div class="alert alert-primary shadow-sm my-block-link">
        {{ url_for('auth.change_email', token=token, _external=True) }}
    </div>
    <p>
        This email is sent at <b>{{ current_time }}</b>.<br>
        You have <b>10 Minutes</b> to confirm this email change.
    </p>
    <div class="alert alert-warning shadow-sm">
        If you have not requested an email address change, simply ignore this message.
    </div>
{% endblock %}