{% extends "auth/email/base_email.html" %}

{% block title %}
    {{ super() }} - Reset Your 2FA
{% endblock %}

{% block email_header %}
    Reset Your Password
{% endblock %}

{% block email_content %}
    <p>This is <b>LiCMS</b>.</p>
    <p>
        To reset your Tow Factor Authentication, please
        <a class="btn-sm btn-primary" href="{{ url_for('auth.tow_factor_reset', token=token, _external=True) }}">
            click here</a>.<br>
        Alternatively, you can paste the following link in your browser's address bar:<br>
    </p>
    <div class="alert alert-primary shadow-sm my-block-link">
        {{ url_for('auth.tow_factor_reset', token=token, _external=True) }}
    </div>
    <p>
        This email is sent at <b>{{ current_time }}</b>.<br>
        You have <b>10 Minutes</b> to confirm this password reset.
    </p>
    <div class="alert alert-warning shadow-sm">
        If you have not requested a 2FA reset, simply ignore this message.
    </div>
{% endblock %}
